body {
  padding: 0px;
  font: 54px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
  width: 100%;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.app {
  display: flex;
  justify-content: space-between;
}

.row {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.calculator {
  width: 50%;
}
.head {
  height: 27vh;
  width: 100%;
  background-color: dimgrey;
  text-align: end;
  overflow: auto;
}

.operators {
  width: 100%;
}

.keyboard {
  width: 100%;
  height: 100vh;
}

.button-calc-number {
  background-color: darkgray;
  height: 6rem;
  width: 100%;
  color: whitesmoke;
}

.button-calc-operator {
  background-color: orange;
  height: 6rem;
  width: 100%;
  color: white;
}

.button-calc-validate {
   background-color: orange;
  height: 6rem;
  width: 100%;
  color: white;
  width: 100%;
}

.history-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.history-element .calc {
  text-align: end;
  font-size: 28px;
}

.history-element .calc-result {
  font-size: 16px;
  text-align: end;

}

.history-element .calc-result:before {
  content: "> ";
}